.vscode-test/**
.gitignore
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
.vscode
.marketplace
.nyc_output
node_modules
out/**
coverage/
src/
demo/
resources/*.sketch
webpack.config.js
coverconfig.json
prettier.config.js