*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: var(--vscode-editor-background);
  font-size: 16px;
  height: 100vh;
  display: -webkit-box;
  display: flex;
}

.card {
  background: var(--vscode-dropdown-listBackground);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 0px;
  text-align: left;
  color: var(--vscode-editor-foreground);
}

.postscript {
  font-size: 12px;
  color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 20px 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.postscript:hover {
  color: var(--vscode-editorLineNumber-foreground);
}
.postscript a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0);
}
.postscript:hover a {
  color: var(--vscode-editorLineNumber-foreground);
}
.postscript a:hover {
  text-decoration: underline;
  color: var(--vscode-editorLineNumber-foreground);
}

.preamble {
  font-size: 12px;
  color: var(--vscode-editorLineNumber-foreground);
  width: 100%;
  padding: 20px 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.preamble a {
  text-decoration: none;
  color: var(--vscode-editorLineNumber-foreground);
}
.preamble a:hover {
  text-decoration: underline;
}
.preamble img.label {
  margin-right: 20px;
}

.card .front {
  padding: 20px 20px;
}

.card .front h1 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.card .back {
  border-top: dotted 1px #444;
  padding: 20px 20px;
}
.card .back ul li {
  margin: 10px 0;
  font-size: 14px;
}
.card .back em {
  font-style: normal;
  color: var(--vscode-list-warningForeground);
}

.card .buttons {
  border-top: solid 1px var(--vscode-notebook-focusedRowBorder);
  width: 100%;
  padding: 20px 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.card .btn {
  display: inline;
  color: var(--vscode-editorLineNumber-foreground);
  border-radius: 5px;
  text-decoration: none;
}
.card .btn:hover {
  color: var(--vscode-editorLineNumber-activeForeground);
}
.card .warning {
  display: inline;
  color: var(--vscode-list-warningForeground);
  border-radius: 5px;
  text-decoration: none;
}

.card table {
  width: 100%;
  padding: 0; 
}

.card table tr {
  border-top: 1px solid var(--vscode-notebook-focusedRowBorder);
  /* background-color: white; */
  margin: 0;
  padding: 0;
}

/*
.card table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
*/

 .card table tr th {
  font-weight: bold;
  border: 1px solid var(--vscode-notebook-focusedRowBorder);
  text-align: left;
  margin: 0;
  padding: 13px 20px;
}

.card table tr td {
  border: 1px solid var(--vscode-notebook-focusedRowBorder);
  text-align: left;
  margin: 0;
  padding: 13px 20px;
}

.card table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}

.card table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}

.container {
  position: relative;
  margin: auto;
  width: calc(50%);
  min-width: 768px;
  color: var(--vscode-editorLineNumber-activeForeground);
}
