*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #383A3F;
  font-size: 16px;
  height: 100vh;
  display: -webkit-box;
  display: flex;
}

.card {
  background: #1F2124;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 0px;
  text-align: left;
  color: white;
}

.preamble {
  font-size: 12px;
  color: #383A3F;
  width: 100%;
  padding: 20px 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.preamble:hover {
  color: #888;
}

.card .front {
  padding: 20px 20px;
}
.card .back {
  border-top: dotted 1px #444;
  padding: 20px 20px;
}
.card .back ul {
  padding: 0;
  list-style-type: none;
}
.card .back ul li {
  margin: 10px 0;
  font-size: 14px;
}
.card .buttons {
  border-top: solid 1px #444;
  width: 100%;
  padding: 20px 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.card .btn {
  display: inline;
  color: #444;
  border-radius: 5px;
  text-decoration: none;
}
.card .btn:hover {
  color: #F68657;
}

.container {
  position: relative;
  margin: auto;
  width: calc(50%);
  color: #888;
  text-align: center;
}
